# Provide a custom message
message: ""

# Remember to set service.type=ClusterIP if you are using an ingress
ingress:
  enabled: false
  rewritePath: true
  pathPrefix: ""
  annotations:
    kubernetes.io/ingress.class: nginx

service:
  type: "LoadBalancer"
  port: 80

# Create a Prometheus ServiceMonitor
serviceMonitor:
  enabled: false

imageKey:
  repository: "eduardobaitello/hello-kubernetes"
  tag: "" # uses chart appVersion if not provided. This value will be overridden if using skaffold

deployment:
  replicaCount: 2
  container:
    image:
      pullPolicy: IfNotPresent
    port: 8080

  # Currently only linux images on amd64 architecture are supported
  nodeSelector:
    kubernetes.io/os: linux
    kubernetes.io/arch: amd64

  resources: {}

  tolerations: []

  affinity: {}

