body {
  margin:0;
  padding:0;
  background-color:#a7f1f2;
}

div.main { 
  text-align: center;
}

div.main img {
  margin: 40px 0;
}

div.content {   
  color:#f2f2f2; 
}

.content #message {
  margin: 20px auto; /* Center the box horizontally and add margin */
  width: fit-content; /* Set width to fit the content */
  padding: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
  background-color: #0099FF;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #333;
}


/* Add a hover effect */
.content #message:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s ease-in-out;
}



.content #footer {
  margin: 50px 0;
  padding: 30px 0;  
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: #909090;
  border-top: 2px solid #909090;
}

.content #info {
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 12pt;
}

.content #info table {
  margin: 10px auto;
  color: #000000;
}

.content #info table th {
  text-align: right;
  padding-right: 20px;
}

.content #info table td {
  text-align: left;
}

