<!DOCTYPE html>
<html>
<head>
    <title>Hello Kubernetes!</title>
    <link rel="stylesheet" type="text/css" href="{{ renderPathPrefix }}/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300">
    <style>
        .main {
            text-align: center;
        }
        .main img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

  <div class="main">
    <img src="{{ renderPathPrefix }}/images/test.png" alt="Kubernetes Logo">
    <div class="content">
      {{{body}}}
    </div>
  </div>

</body>
</html>
